@using Microsoft.AspNet.Identity;

@model Auction.WEB.Models.ProfileViewModel

@{
    ViewBag.Title = "UserProfile";
}

@{ 
    if(Model.Id == User.Identity.GetUserId())
    {
        <h2>My profile</h2>
    }
    else
    {
        <h2>@Model.Nickname.Split(' ').First()'s profile</h2>
    }
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCardNumber)
        </dd>

    </dl>
</div>
